:root{
  --primary: hsl(248, 10%, 30%);
  --secondary: hsl(240, 100%, 71%)
}


* {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body{
  padding: 60px;
  background-color: white;
}
input{
  color: var(--primary);
  font-size: 1.2rem;
  width: 100%;
}

/* Clase personalizada creada por nosotros para aplicarlo al html tag que querramos */
.card{
  align-content: center;
  border: 5px solid black;
  border-radius: 6px;
  margin-bottom: 10px;
  margin-right: 10px;
  overflow: hidden;
}

.card p {
  padding: 5px;
  text-align: center;
}

.card img{
  height: 200px;
  width: 300px;
  image-rendering: crisp-edges;
}

.card-grid{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
h2{
  color: var(--secondary);
  font-size: 8.2rem;
  text-align: center;
}
.animate__animated.animate__fadeIn{
  --animate-duration: 3.5s;
}
.card-display{
  margin: auto;
}
h3{
  color: var(--secondary);
}