* {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body{
  padding: 60px;
  background-color: gold;
}
input{
  color: greenyellow;
  background-color: orangered;
  font-size: 1.2rem;
  width: 100%;
}

/* Clase personalizada creada por nosotros para aplicarlo al html tag que querramos */
.card{
  align-content: center;
  border: 5px solid black;
  border-radius: 6px;
  margin-bottom: 10px;
  margin-right: 10px;
  overflow: hidden;
}

.card p {
  padding: 5px;
  text-align: center;
}

.card img{
  max-height: 500px;
  max-width: 400px;
}

.card-grid{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
h2{
  color:red;
  font-size: 8.2rem;
  /* border:2px solid black; */
}
.animate__animated.animate__fadeIn{
  --animate-duration: 3.5s;
}